## <font color="maroon"><h4 align="center">Read/Write CSV and Excel Files (Exercise)</font>

In [17]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file with name "movies_data.csv"
- Show the Top5 rows

In [18]:
df=pd.read_csv("D:\\Pandas\\chapter_3_assets\\3_read_write_to_excel\\Exercises\\movies_data.csv")
df.head()

,movie_id,title,industry,language,release_year,imdb_rating,studio,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,Kannada,2022,8.4,Hombale Films,1.0,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,English,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD
2,103,Thor: The Dark World,Hollywood,English,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD
3,104,Thor: Ragnarok,Hollywood,English,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD
4,105,Thor: Love and Thunder,Hollywood,English,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD

### <font color="purple">**Question2**</font>
- Add a new column "year_classify" to the above dataframe.
- If release_year is less than 2000, then 'before 2000' or else 'From 2000'

In [19]:

def classify_year(x):
    if x < 2000:
        return "before 2000"
    else:
        return "From 2000"


df["year_classify"] = df["release_year"].apply(classify_year)

print(df.head())

   movie_id                                        title   industry language  \
0       101                             K.G.F: Chapter 2  Bollywood  Kannada
1       102  Doctor Strange in the Multiverse of Madness  Hollywood  English
2       103                        Thor: The Dark World   Hollywood  English
3       104                              Thor: Ragnarok   Hollywood  English
4       105                      Thor: Love and Thunder   Hollywood  English

   release_year  imdb_rating          studio  budget  revenue      unit  \
0          2022          8.4   Hombale Films     1.0     12.5  Billions
1          2022          7.0  Marvel Studios   200.0    954.8  Millions
2          2013          6.8  Marvel Studios   165.0    644.8  Millions
3          2017          7.9  Marvel Studios   180.0    854.0  Millions
4          2022          6.8  Marvel Studios   250.0    670.0  Millions

  currency year_classify
0      INR     From 2000
1      USD     From 2000
2      USD     From 2000
3      USD     From 2000
4      USD     From 2000

### <font color="purple">**Question3**</font>

- Save the above dataframe with the name "final_movie_data.csv" and include only columns 'movie_id', 'title', 'budget', 'revenue' and 'year_classify'. Also set index to False**.

In [20]:
df.to_csv("final_movie_data.csv",index=False,columns=['movie_id', 'title', 'budget', 'revenue','year_classify'])